*.exe
.vscode/*
/JAVA/REST API/restapi/target/
/JAVA/REST API/restfullapi/nbproject/private/
/JAVA/REST API/restfullapi/build/
/JAVA/REST API/restfullapi/dist/
/JAVA/REST API/restfullClient/nbproject/private/
/JAVA/REST API/restfullClient/build/
/JAVA/REST API/restfullClient/dist/
DAA/DA3/.ipynb_checkpoints/classdemolab3-checkpoint.ipynb
DAA/DA3/.DS_Store
